<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Portfolio | MdFxENo</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'/>

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.1/examples/album/album.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">MdFxENo <small> | Portfolio</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="https://facebook.com/fariduzzama" target="_blank">Facebook</a>
            <a class="nav-item nav-link" href="{% static 'UPSC - Candidate\'s Application Details (Registration-Id_ 11830280277).pdf' %}">Resume</a>
            <a class="nav-item nav-link active" href="{% url 'blogs' %}">Blog</a>
          </div>
        </div>
      </nav>

    <main role="main">

      <div class="container">

        <h2 style="color: rgb(92, 92, 92); font-family: 'Montserrat'" class="text-center pt-5">This here, is my blog</h2>
        <br />
        <br />
        <h3>Latest Posts</h3>
        <hr>

        {% for blog in blogs %}

          <div class="pl-10 jumbotron">
              <h2><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h2>
              <span class="badge badge-primary">{{ blog.date }}</span><br/>
              <img style="margin: 10px; box-shadow: 0px 0px 5px 0px; border-radius: 8px" 
                class='img-responsive' src="{{ blog.image.url }}" height="300" width="400">
              <p>{{ blog.body_limit }} <a href="{% url 'detail' blog.id %}"><small>Read more</small></a> </p>
          </div>
          <hr />

        {% endfor %}

      </div>

    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p>&copy; copyright <b>MdFxENo</b> {% now 'Y' %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js'></script>
  </body>
</html>
